# font
font-family = "JetBrains Mono"
window-title-font-family = "JetBrains Mono"
font-feature = -calt
font-feature = -liga
font-feature = -dlig
font-size = 12

# shell
shell-integration-features = ssh-env

# misc
clipboard-paste-protection = false

# window
confirm-close-surface = false
window-save-state = always
window-padding-x = 4
window-padding-y = 4
window-padding-balance = true
window-decoration = auto

# keys
macos-option-as-alt = true

# theme - auto-switches with macOS appearance
theme = dark:cyberdream,light:cyberdream-light
window-theme = system
