# font
font-family = "JetBrains Mono"
window-title-font-family = "JetBrains Mono"
font-feature = -calt
font-feature = -liga
font-feature = -dlig
font-size = 12

# shell
shell-integration-features = ssh-env

# misc
clipboard-paste-protection = false

# window
confirm-close-surface = false
window-save-state = always
window-padding-x = 4
window-padding-y = 4
window-padding-balance = true
window-decoration = auto

split-divider-color = #8a8884

# keys
macos-option-as-alt = true

# Token theme - auto-switches with the system appearance
theme = dark:token,light:token-light
window-theme = system
