layout {
	default_tab_template {
		pane size=1 borderless=true {
			plugin location="https://github.com/dj95/zjstatus/releases/latest/download/zjstatus.wasm" {
				format_left   "{mode} {tabs}"
				format_center ""
				format_right  "#[fg=#5ef1ff] {session} "
				format_space  ""
				format_hide_on_overlength "true"
				format_precedence "crl"

				mode_normal        "#[fg=#5ea1ff] normal "
				mode_locked        "#[fg=#ff6e5e] locked "
				mode_resize        "#[fg=#f1ff5e] resize "
				mode_pane          "#[fg=#ff5ef1] pane "
				mode_tab           "#[fg=#ffbd5e] tab "
				mode_scroll        "#[fg=#5ea1ff] scroll "
				mode_enter_search  "#[fg=#5ea1ff] enter search "
				mode_search        "#[fg=#5ea1ff] search "
				mode_rename_tab    "#[fg=#5ea1ff] rename "
				mode_rename_pane   "#[fg=#5ea1ff] rename "
				mode_session       "#[fg=#5ea1ff] session "
				mode_move          "#[fg=#5ea1ff] move "
				mode_prompt        "#[fg=#5ea1ff] promt "

				tab_normal              "#[fg=#ffffff]{index} {name} "
				tab_normal_fullscreen   "#[fg=#ffffff]{index} {name} "
				tab_normal_sync         "#[fg=#ffffff]{index} {name} "

				tab_active              "#[fg=#ff5ef1]{index} {name} "
				tab_active_fullscreen   "#[fg=#ff5ef1]{index} {name} "
				tab_active_sync         "#[fg=#ff5ef1]{index} {name} "

				tab_separator           " "

				tab_sync_indicator       " "
				tab_fullscreen_indicator " 󰊓"
				tab_floating_indicator   " 󰹙"

				command_git_branch_command     "git rev-parse --abbrev-ref HEAD"
				command_git_branch_format      " {stdout} "
				command_git_branch_interval    "10"
				command_git_branch_rendermode  "static"

				datetime        "{format} "
				datetime_format "%A, %d %b %Y %H:%M"
				datetime_timezone "Europe/London"
			}
		}
		children
	}
}

